<!-- The poker view -->
<section data-ng-controller="PokerController">
    <div class = "tableBackground"><div class="table"></div></div>

	<!-- List all messages -->
    <div class ="chatText" scroll-glue>
        <ul>
            <li class="list-unstyled" data-ng-repeat="message in messages track by $index"  autoscroll><strong>{{ message.username }}</strong>: {{ message.text }}</li>
        </ul>
    </div>
    <!-- The message form -->
    <form class = "chatSubmit" ng-submit="sendMessage();">
        <input type="text" data-ng-model="messageText">
        <button type="submit">Submit</button>
    </form>
</section>
